.six-two{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.four-two{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.two-one{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}